.vs/.NET Design-Patterns-in-CSharp
*.lock
.vs/.NET Design-Patterns-in-CSharp/v15/.suo
*bin*
*.ide-shm
*.ide-wal
Singleton/bin
.vs/.NET Design-Patterns-in-CSharp/v15/.suo
Singleton/bin/Debug/Singleton.exe
Singleton/bin/Debug/Singleton.pdb
.vs/.NET Design-Patterns-in-CSharp/v15/.suo
.vs/.NET Design-Patterns-in-CSharp/v15/.suo
AbstractFactory/bin/Debug/AbstractFactory.exe
Singleton/obj/Debug/Singleton.csproj.CoreCompileInputs.cache
Singleton/obj/Debug/Singleton.csproj.FileListAbsolute.txt
Singleton/obj/Debug/Singleton.csprojAssemblyReference.cache
Singleton/obj/Debug/Singleton.exe
Singleton/obj/Debug/Singleton.pdb
Singleton/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Singleton/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Singleton/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Iterator/obj/Debug/Iterator.pdb
Iterator/obj/Debug/Iterator.exe
Iterator/obj/Debug/Iterator.csprojAssemblyReference.cache
Iterator/obj/Debug/Iterator.csproj.FileListAbsolute.txt
AbstractFactory/bin/Debug/AbstractFactory.exe
AbstractFactory/bin/Debug/AbstractFactory.pdb
AbstractFactory/obj/Debug/AbstractFactory.csproj.FileListAbsolute.txt
AbstractFactory/obj/Debug/AbstractFactory.exe
AbstractFactory/obj/Debug/AbstractFactory.pdb
Adapter/bin/Debug/Adapter.exe
Adapter/bin/Debug/Adapter.pdb
Adapter/obj/Debug/Adapter.csproj.FileListAbsolute.txt
Adapter/obj/Debug/Adapter.exe
Adapter/obj/Debug/Adapter.pdb
Bridge/bin/Debug/Bridge.exe
Bridge/bin/Debug/Bridge.pdb
Bridge/obj/Debug/Bridge.csproj.FileListAbsolute.txt
Bridge/obj/Debug/Bridge.exe
Bridge/obj/Debug/Bridge.pdb
Builder/bin/Debug/Builder.exe
Builder/bin/Debug/Builder.pdb
Builder/obj/Debug/Builder.csproj.FileListAbsolute.txt
Builder/obj/Debug/Builder.exe
Builder/obj/Debug/Builder.pdb
Composite/bin/Debug/Composite.exe
Composite/bin/Debug/Composite.pdb
Composite/obj/Debug/Composite.csproj.FileListAbsolute.txt
Composite/obj/Debug/Composite.exe
Composite/obj/Debug/Composite.pdb
Decorator/bin/Debug/Decorator.exe
Decorator/bin/Debug/Decorator.pdb
Decorator/obj/Debug/Decorator.csproj.FileListAbsolute.txt
Decorator/obj/Debug/Decorator.exe
Decorator/obj/Debug/Decorator.pdb
Facade/bin/Debug/Facade.exe
Facade/bin/Debug/Facade.pdb
Facade/obj/Debug/Facade.csproj.FileListAbsolute.txt
Facade/obj/Debug/Facade.exe
Facade/obj/Debug/Facade.pdb
Factory/bin/Debug/Factory.exe
Factory/bin/Debug/Factory.pdb
Factory/obj/Debug/Factory.csproj.FileListAbsolute.txt
Factory/obj/Debug/Factory.exe
Factory/obj/Debug/Factory.pdb
Flyweight/bin/Debug/Flyweight.exe
Flyweight/bin/Debug/Flyweight.pdb
Flyweight/obj/Debug/Flyweight.csproj.FileListAbsolute.txt
Flyweight/obj/Debug/Flyweight.exe
Flyweight/obj/Debug/Flyweight.pdb
Prototype/bin/Debug/Prototype.exe
Prototype/bin/Debug/Prototype.pdb
Prototype/obj/Debug/Prototype.exe
Prototype/obj/Debug/Prototype.pdb
Proxy/bin/Debug/Proxy.exe
Proxy/bin/Debug/Proxy.pdb
Proxy/obj/Debug/Proxy.csproj.FileListAbsolute.txt
Proxy/obj/Debug/Proxy.exe
Proxy/obj/Debug/Proxy.pdb
