.vs/.NET Design-Patterns-in-CSharp
*.lock
.vs/.NET Design-Patterns-in-CSharp/v15/.suo
*bin*
*.ide-shm
*.ide-wal
Singleton/bin
.vs/.NET Design-Patterns-in-CSharp/v15/.suo
Singleton/bin/Debug/Singleton.exe
Singleton/bin/Debug/Singleton.pdb
.vs/.NET Design-Patterns-in-CSharp/v15/.suo
.vs/.NET Design-Patterns-in-CSharp/v15/.suo
AbstractFactory/bin/Debug/AbstractFactory.exe
Singleton/obj/
Iterator/obj/
AbstractFactory/bin/
AbstractFactory/obj/
Adapter/bin/
Adapter/obj/
Bridge/bin/
Bridge/obj/
Builder/bin/
Builder/obj/
Composite/bin/
Composite/obj/
Decorator/bin/
Decorator/obj/
Facade/bin/
Facade/obj/
Factory/bin/
Factory/obj/
Flyweight/bin/
Flyweight/obj/
Prototype/bin/
Prototype/obj/
Proxy/bin/
Proxy/obj/
.vs/.NET Design-Patterns-in-CSharp/v15/.suo
AbstractFactory/obj/
Adapter/obj/
Bridge/obj/
Builder/obj/
Composite/obj/
Decorator/obj/
Facade/obj/
Factory/obj/
Flyweight/obj/
Iterator/obj/
Prototype/obj/
Proxy/obj/
.vs/.NET CSharp-设计模式/v15/.suo
Proxy/Proxy-代理.csproj.user
